
{{> head }}




 <body>
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>
            La fase I de nuestro software estructural se enfoca en realizar un cálculo simplificador para evaluar, a partir de un análisis previo ( memoria de cálculo previa), como quedarían los Factores de utilización tras solicitudes adicionales.
        </h1>

            <table border="2">
<tr>
     <td><strong>Característica </strong></td><td><strong>Versión 2.0 </strong>
  </tr>
  <tr>
    <td>
        Carga los sitios asociados al cliente de forma automática, sin que el cliente tenga que cargar datos específicos como el código de la memoria de cálculo.
        Al seleccionar el sitio mediante un click, el sistema carga: condición de viento, momentos, cortantes, factores de utilización y solicitaciones contenidas en la memoria de cálculo basal.

    </td><td> Soporta</td>
  </tr>
  <tr>
    <td>El modelo soporta la norma NCH 432 of 71, que considera la presión de viento como función de la altura y la condición geográfica del sitio. </td><td> Soporta</td>
  </tr>
    <tr>
    <td> El modelo de cálculo es independiente de la altura de la estructura, de manera que se adapta a la altura de la estructura que tenga el sitio seleccionado. </td><td> Soporta</td>
  </tr>

  <tr>
    <td>El modelo de cálculo es independiente  de la cantidad de antenas, de manera que el cliente podría incluir cantidad de solicitaciones diferentes en las iteraciones. </td><td> Soporta</td>
  </tr>
  <tr>
    <td>La interfaz de usuario es "responsive" por lo que se adapta al tamaño de la pantalla del usuario. </td><td> Soporta</td>
  </tr>


</table> 
    {{!-- /////inicio --}}




 </div>







 
    <div class="col-4">
        <img src="assets/img/banner.jpg" class= "img-thumbnail">
    </div>

</div>

<<<<<<< HEAD
{{> footer}}
=======

Si creas un objeto, por ejemplo opciones, y ahi metes los valores que traigas de la bd, luego puedes ir asignandolos en cambioOpciones()




{{> footer}}
>>>>>>> a2de8a7ffa3a265007a8f3fde399b08904e95afb
