
{{> head }}
 <body>
{{> navbar }}

<div class="row">
  <div class="col-1">

  </div>
    <div class="col-7">
        <h1>
            La fase I del software estructural se enfoca en realizar un cálculo simplificador para evaluar, a partir de un análisis previo ( memoria de cálculo previa), como quedarían los Factores de utilización tras solicitudes adicionales.
        </h1>
<div   >
            <table border="2"width="90%" cellspacing="10%"  > 
<tr>
     <td align ="center"><strong>Característica </strong></td><td align ="center"><strong>Versión 1.3</strong></td><td align ="center"><strong>Versión 2.0</strong></td><td align ="center"><strong>Versión 2.1</strong></td><td align ="center"><strong>Versión 2.2</strong></td><td align ="center"><strong>Versión 2.3</strong></td><td align ="center"><strong>Versión 3.0</strong></td><td align ="center"><strong>Versión 3.1</strong></td>
  </tr> 
  <tr>
    <td align ="left">
        Carga los sitios asociados al cliente de forma automática, sin que el cliente tenga que cargar datos específicos como el código de la memoria de cálculo.
        Al seleccionar el sitio mediante un click, el sistema carga: condición de viento, momentos, cortantes, factores de utilización y solicitaciones contenidas en la memoria de cálculo basal.

    </td><td align ="center"> Soportado </td><td align ="center"> NA </td><td align ="center"> NA </td><td align ="center"> NA </td><td align ="center"> NA </td><td align ="center"> NA </td><td align ="center"> NA </td>
      <tr>
    <td align ="left">La interfaz de usuario es "responsive" por lo que se adapta al tamaño de la pantalla del usuario. </td><td align ="center"> ***  </td><td align ="center"> Soportado </td><td align ="center"> NA </td><td align ="center"> NA </td><td align ="center"> NA </td><td align ="center"> NA </td>
  <td align ="center"> NA </td></tr>
  </tr>
  <tr>
    <td align ="left">El modelo soporta la norma NCH 432 of 71, que considera la presión de viento como función de la altura y la condición geográfica del sitio. </td><td align ="center">***</td><td align ="center"> Soportado </td><td align ="center"> NA </td><td align ="center"> NA </td><td align ="center"> NA </td><td align ="center"> NA </td><td align ="center"> NA </td>
  </tr>
    <tr>
    <td align ="left"> El modelo de cálculo es independiente de la altura de la estructura, de manera que se adapta a la altura de la estructura que tenga el sitio seleccionado. </td><td align ="center"> ***  </td><td align ="center"> *** </td><td align ="center"> Soportado </td><td align ="center"> NA </td><td align ="center"> NA </td><td align ="center"> NA </td><td align ="center"> NA </td>
  </tr>
   <tr>
    <td align ="left">Permite quitar solicitaciones añadiendo cantidad negativa </td><td align ="center"> *** </td><td align ="center"> *** </td><td align ="center"> Soportado  </td><td align ="center"> NA </td><td align ="center"> NA </td><td align ="center"> NA </td><td align ="center"> NA </td>
  </tr>
  <tr>
    <td align ="left">El modelo de cálculo es independiente  de la cantidad de antenas, de manera que el cliente podría incluir cantidad de solicitaciones diferentes en las iteraciones. </td><td align ="center"> ***  </td><td align ="center"> ***  </td><td align ="center"> ***  </td><td align ="center"> Soportado </td><td align ="center"> NA </td><td align ="center"> NA </td><td align ="center"> NA </td>
  </tr>

 <tr>
    <td align ="left">La versión añade un imprimible con el resultado,  que discrimina entre FU menor o mayor que 95% . </td><td align ="center"> ***  </td><td align ="center"> *** </td><td align ="center"> *** </td><td align ="center"> Soportado </td><td align ="center"> NA </td><td align ="center"> NA </td><td align ="center"> NA </td>
  </tr>
   <tr>
    <td align ="left">Incluye el modelo monoposte </td><td align ="center"> *** </td><td align ="center"> *** </td><td align ="center"> ***  </td><td align ="center"> *** </td><td align ="center"> Soporta </td><td align ="center"> NA </td><td align ="center"> NA </td>
  </tr>
     <tr>
    <td align ="left">Incluye torres con diagonales secundarias </td><td align ="center"> *** </td><td align ="center"> *** </td><td align ="center"> ***  </td><td align ="center"> *** </td><td align ="center"> Soporta </td><td align ="center"> NA </td><td align ="center"> NA </td>
  </tr>
       <tr>
    <td align ="left">Integra formulario interactivo para ingreso de equipos  </td><td align ="center"> *** </td><td align ="center"> *** </td><td align ="center"> ***  </td><td align ="center"> *** </td><td align ="center"> *** </td><td align ="center"> Soporta </td><td align ="center"> NA </td>
  </tr>
  <tr>
    <td align ="left"> Añade torres con diagonales secundarias  </td><td align ="center"> *** </td><td align ="center"> *** </td><td align ="center"> ***  </td><td align ="center"> *** </td><td align ="center"> *** </td><td align ="center"> Soporta </td><td align ="center"> NA </td>
  </tr>
  <tr>
    <td align ="left"> Añade tabla para dar de baja antenas de forma interactiva con el usuario eliminando la fila de la tabla interactiva una vez seleccionado el item </td><td align ="center"> *** </td><td align ="center"> *** </td><td align ="center"> ***  </td><td align ="center"> *** </td><td align ="center"> *** </td><td align ="center"> *** </td><td align ="center"> Soporta </td>
  </tr>
</table> 
</div>
    {{!-- /////inicio --}}

 </div>

  
    <div class="col-4">
        <img src="assets/img/banner.jpg" class= "img-thumbnail">
    </div>

</div>


{{> footer}}
