
{{> head }}
 <body>
{{> navbarclient }}

<div class="container">

    <div class="row">
        <h1>
            Ya se guardó el análisis en la BD
        </h1>

    </div>
    <div class="row" align="center">
        <img src="assets/img/banner.jpg" class= "img-thumbnail">
    </div>

 
  <a href="#" class="btn btn-info" role="button" align="right">Realizar otro nuevo análisis</a>

 






</div>



{{> footer}}
