
{{> head }}
 <body>
{{> navbar }}

<div class="row">
  <div class="col-1">

  </div>
    <div class="col-7">
        <h1>
            Ya se guardó el análisis en la BD
        </h1>

            <table border="2"width="90%" cellspacing="10%"  > 

</table> 
</div>
    {{!-- /////inicio --}}

 </div>

  
    <div class="col-4">
        <img src="assets/img/banner.jpg" class= "img-thumbnail">
    </div>

</div>


{{> footer}}
