<script>
    function postData(path, method) {
        var token = localStorage.getItem("token");
        var data_array=[];
            
        var enviar =JSON.stringify(token);
        method =  "post";
        var path=path;
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", "token");
                    hiddenField.setAttribute("value", enviar);
                    form.appendChild(hiddenField);

            document.body.appendChild(form);
            form.submit();

        


};

</script>




{{> head }}
 <body>
{{> navbarclient }}

<div class="container">

    <div class="row">
        <h1>
            Ya se guardó el análisis en la BD
        </h1>

    </div>
    <div class="row" align="center">
        <img src="assets/img/banner.jpg" class= "img-thumbnail">
    </div>

 

  <button class="button" type="button" onclick="postData('/relanza')"  >Realizar otro  análisis</button>

 






</div>



{{> footer}}
