{{> head }}
{{> navbar }}
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido al Software de análisis de estructuras!!</h1>
      <h2 class="display-4" align ='right'> {{> version }}</h2>
        <p class="lead">Software de estructuras
            <ul class="navbar-nav mr-auto">
               Esta es la página principal del sistema de análisis simplificado para pivotear sobre el inventario de antenas en una torre y obtener un resultado preliminar que permita observar la factibilidad de los cambios de forma rápida.</p>
        <hr class="my-4">
        
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
    </div>
{{> footer}}
