{{> head }}

<script>
  function salvedad(){

    if (!{{tokenValid}}) {
    
window.alert("Debe autenticarse de nuevo");
alert("Debe autenticarse de nuevo");

  } else {
    text = "El factor de utilización es = <strong> "+FU+" %</strong> ";
  }
 }
</script>

<body onload="salvedad()">
{{> navbar }}



    <div class="well">
<h1 class="jumbotron">Login usuario </h1>


      <table>

        <tr>

  <div class="row">
    <div class="col-md-5">
      <div class="card-body">
        <form action="/../login" method="POST">
          <div class="input-group">
            <input name="email" placeholder="Email" type="text" required class="form-control" >
          </div>
          <div class="input-group">
            <input name="password" placeholder="Contraseña" type="text" required class="form-control" >
          </div>

      </div>
    </div>
  </div>
</div>

        </tr>
        <tr>
          <td>

          </td>
          <td>
                      <button type="submit" class="btn btn-primary">
            Ingresar
          </button>
        </form>
          </td>
        </tr>

      
      </table>



    </div>
{{> footer}}