
{{> head }}
{{> navbarclient }}
<table>
  <tr>
    <div class="container-fluid">
    <p class="lead">Hola {{nombre}} </p>
</div>
  </tr>
<tr>

<h1 class="display-4">SELECCIONAR SITIO QUE SE QUIERE ESTUDIAR</h1>
</tr>


<tr>

 <form action="/../dashCliente" method="POST" id="prueba">
  <div class="form-group">
 
    <label>Seleccionar torre autosoportada:</label>
  <select name="sitio">
   {{#each band}}
  <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{lugar}}</option>
  {{/each}}
  </select>

</p>
 <button type="submit" class="btn btn-primary">
            Buscar
          </button>
           </div>
 </form>

</tr>


</table>

<input id="tokentxt" name="token" type="hidden" value="{{token}}"> <br>

      
        <hr class="my-4">
       
      
</div>
{{> footer}}