{{> head }}
{{> navbarclient }}

<body onload="guardaLocalStore();">


  <script>
  function guardaLocalStore(){
    var token = document.getElementById("tokentxt");
    localStorage.setItem("token", token.value);
  }

       
</script>

<table>
  <tr>
    <div class="container-fluid">
    <p class="lead">Hola {{nombre}} </p>
</div>
  </tr>
<tr>

<h1 class="display-4">SELECCIONAR SITIO QUE SE QUIERE ESTUDIAR</h1>
</tr>


<tr>
 <td>
    <img src="assets/img/autosoportada.png" class= "img-thumbnail" align="left"> 
  </td>
  <td >
    <form action="/../dashCliente" method="POST" id="prueba" >
    <div class="form-group">
    <label>Seleccionar torre autosoportada:</label>
     <select name="sitio">
        {{#each band}}
        <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{lugar}}</option>
        {{/each}}
     </select>

  </td>
</tr>
<tr>
 <td>
    <img src="assets/img/contraventada.jpg" class= "img-thumbnail" align="left"> 
  </td>
  <td >

    <div class="form-group">
    <label>Seleccionar torre contraventada:</label>


  </td>
</tr>
<tr>
  <td>

  </td>
  <td align="right" >
    <button type="submit" class="btn btn-primary" >
    Buscar
    </button>
    </div>
    </form>
  </td>
</tr>






</table>


<input id="tokentxt" name="token" type="hidden" value="{{token}}"> <br>


</div>
{{> footer}}
