{{> head }}
{{> navbar }}
    <div class="jumbotron">
        <h1 class="display-4">VAlida  usuario </h1>
        <p class="lead">Valida Usuario
            <ul class="navbar-nav mr-auto">
                Aca recibo</p>




        <hr class="my-4">
        <p>Simplemente Industrial 4.0 en las estructuras de las antenas de tu planta externa.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
    </div>
{{> footer}}